*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div
{
    width: 80%;
    height: inherit;
    margin: auto;
    background-color: #D2C29D;
    border: 3px solid #755139;
    vertical-align: middle;
}

div h1
{
    text-align: center;
    color: #755139;
    font-size: 3.5em;
    margin: 40px 0;
}

div p
{
    color: rgb(112, 103, 84);
    font-size: 2.2em;
    margin: 20px 30px;
}